.textField {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: #454545;
}

.input {
  padding: 8px 8px 8px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;

  color: #707070;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px
}

.input:hover {
  border: 2px solid #B9B9B9;
  padding: 7px 7px 7px 15px;
}

.input[data-focused] {
  border-color: #007bff;
  box-shadow: 0 0 0 1px #4B7A8A;
  outline: none;
}

.input[data-disabled] {
  background-color: #e9ecef;
  opacity: 0.7;
  cursor: not-allowed;
}

.textField[data-disabled] .label {
    color: #6c757d;
}
